<main id='content'>
</main>

<head><%= favicon_link_tag 'favicon.ico' %></head>

<script type="text/javascript">
  window.petsyUrl = '<%= image_url('petsy.png')  %>'
  window.ursaUrl = '<%= image_url('petsy_background_3.png')%>'
  window.favoriteUrl = '<%= image_url('favorites.png')%>'
</script>
