html, body, section, article, h1, h2, p, strong, em, a, button {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

div {
  background: #f5f5f1;
}

header {
  height: 55px;
  margin-top: 10px;
  border-bottom: 2px solid #ccc;
  background: white;
}

nav {
  margin: auto;
  float: right;
  font-family: georgia;
  padding: 10px 0px 0px 0px;
}

input {
  margin: 5px;
}

/*header*/

.logo {
  height: 50px;
  margin-left: 7px;
}

.h-button {
  color: #0192b5;
  margin: 5px 5px;
  text-decoration: none;
  float: right;
}

.favorite-logo {
  height: 30px;
  margin-right: 20px;
  margin-top: 0px;
  border-left: 1px solid #ccc;
  padding-left: 15px;
}

/*login - sign up - modal */

.login-form {
  top: 100px;
  border: 1px solid #ccc;
  background: white;
  font-family: georgia;
  width: 400px;
  height: 335px;
  padding: 20px;
  font-size: 14px;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: 1000;
}

.login-button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #0192b5;
  margin: 5px;
  font-family: georgia;
  font-size: 14px;
  text-align: center;
  font-style: bold;
  padding: 5px 20px 5px 20px;
  border: solid;
}

.modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.errors {
  color: red;
  list-style: none;
  float: right;
}


.scaling-image {
    position: relative;
    width: 100%;
    min-width: 100%;
}


/*search bar */

.search {
  position: relative;
  z-index: 100;
  bottom: 100px;
  left: 10px;
}

.search-button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #f56400;
  margin: 5px;
  font-family: georgia;
  font-size: 14px;
  text-align: center;
  font-style: bold;
  padding: 12px 20px 12px 20px;
  border: none;
}

.search-input {
  height: 25px;
  padding: 5px;
  width: 250px;
  border-radius: 4px;
}

/* pet index items */
.pet-index-item {
  border: 2px solid #ccc;
  box-shadow: 0 0 1em #ccc;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  width: 250px;
  height: 275px;
  margin: 10px;
  background: white;
  text-align: center;
}

.pet-index-item :hover{
  cursor: pointer;
}

.pet-index-item-photo {
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 250px;
  margin-bottom: 10px;
  display: block;
  box-sizing: border-box;
  border: 5px solid white;
}

.landscape {
  height: 100%;
  width: auto;
}

.portrait {
  width: 100%;
  height: auto;
}

/*pet show page*/

.pet-detail-container {
  position: relative;
  margin-top: 20px;
  background: white;
  max-width: 85%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ececec;
  border-radius: 4px;
}

.pet-detail-photo {
  position: absolute;
  overflow: hidden;
  height: 300px;
  width: 350px;
  margin-bottom: 10px;
  display: block;
  border: 5px solid white;
}

.detail-right-box {
  float: right;
  border: 10px solid #e4f3d9;
  background: white;
  font-family: 'Raleway', sans-serif;
  list-style: none;
  text-align: left;
  padding: 10px 10px 0px 10px;
}

.detail-description {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  top: 370px;
  max-width: 50%;
  margin-right: auto;
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 10px;
  font-size: 12px;
}

.checkout {
  background: #7ac142;
  font-family: 'Raleway', sans-serif;
  border: 5px solid #e4f3d9;
  color: white;
}
