html, body, section, article, h1, h2, p, strong, em, a, button {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

div {
  background: #f5f5f1;
}

main{
  background: #f5f5f1;
}

header {
  height: 55px;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
  background: white;
}


input {
  margin: 5px;
}

/*header*/

.petsy {
  margin: auto;
  float: right;
  font-family: georgia;
  padding: 10px 0px 0px 0px;
}

.logo {
  height: 50px;
  margin-left: 7px;
}

.logo:hover{
  cursor: pointer;
}

.h-button {
  color: #0192b5;
  margin: 5px 5px;
  text-decoration: none;
  float: right;
}

.favorite-logo {
  height: 30px;
  margin-right: 20px;
  margin-top: 0px;
  border-left: 1px solid #ccc;
  padding-left: 15px;
}

/*login - sign up - modal */

.login-form {
  top: 100px;
  border: 1px solid #ccc;
  background: white;
  font-family: georgia;
  width: 400px;
  height: 335px;
  padding: 20px;
  font-size: 14px;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: 1000;
}

.login-button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #0192b5;
  margin: 5px;
  font-family: georgia;
  font-size: 14px;
  text-align: center;
  font-style: bold;
  padding: 5px 20px 5px 20px;
  border: solid;
}

.modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.errors {
  color: red;
  list-style: none;
  float: right;
}


.scaling-image {
    position: relative;
    width: 100%;
    min-width: 100%;
}


/*search bar */

.search {
  position: relative;
  z-index: 100;
  bottom: 100px;
  left: 10px;
}

.search-button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #f56400;
  margin: 5px;
  font-family: georgia;
  font-size: 14px;
  text-align: center;
  font-style: bold;
  padding: 12px 20px 12px 20px;
  border: none;
}

.search-input {
  height: 25px;
  padding: 5px;
  width: 250px;
  border-radius: 4px;
}

/* pet index items */
.pet-index-item {
  border: 2px solid #ccc;
  box-shadow: 0 0 1em #ccc;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  width: 250px;
  height: 275px;
  margin: 10px;
  background: white;
  text-align: center;
  background: white;
}

.pet-index-item :hover{
  cursor: pointer;
}

.pet-index-item-photo {
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 250px;
  margin-bottom: 10px;
  display: block;
  box-sizing: border-box;
  border: 5px solid white;
  background: white;
}

.landscape {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.portrait {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/*pet show page*/

.pet-detail-container {
  margin: 0 auto;
  margin-top: 20px;
  top: 150px;
  background: white;
  width: 85%;
  border: 1px solid #ececec;
  border-radius: 4px;
  height: 95%
}

.pet-detail-left{
  float: left;
  width: 50%;
  margin: 20px;
  background: white;
}

.pet-detail-photo {
  overflow: hidden;
  height: 300px;
  width: 375px;
  border: 5px solid white;
  margin: 0 auto;
  background: white;
  text-align: center;
  vertical-align: middle;
}


.checkout-box {
  border: 10px solid #e4f3d9;
  font-family: 'Raleway', sans-serif;
  list-style: none;
  text-align: left;
  padding: 20px;
  border-radius: 4px;
  box-sizing: content-box;
  line-height: 190%;
  float: right;
  width: 30%;
  margin: 0 auto;
  margin-right: 55px;
  margin-top: 55px;
}

.detail-description {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border: 1px solid #ececec;
  padding: 20px;
  font-size: 14px;
  line-height: 190%;
}

.checkout {
  font-family: helvetica;
  background: white;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  color: white;
  line-height: 90%;
  margin-top: 15px;
}

.favorites {
  margin: 0 auto;
  background: #7ac142;
  width: 200px;
  border-radius: 3px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.email {
  background: #34a8c4;
}
/*search filter bar*/

.pet-type-nav {
  background: white;
  border-bottom: 1px solid #ccc;
}

.pet-type-list {
  float: left;
}

.pet-type-item {
  list-style: none;
  float: left;
  font-family: georgia;
  color: #777777;
  padding: 5px;
}

.pet-type-item:hover{
  cursor: pointer;
  color: #333333;
}

.create-pet{
  float: right;
  padding-top: 20px;
}

/*pet form*/

.create{
  top: 150px;
  text-align: left;
  vertical-align: middle;
}

/* clearfix*/
.group:after{
  content: "";
  clear: both;
  display: block;
}
